body {
    font-family: Helvetica;
}

body h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;  
}

p, .nav-link {
    font-size: 14px;
}

header {
    background-color: #f1f3ff;
    width: 100%;
    height: 500px;
}

header nav .logo {
    width: 100px;
    height: 34px;
    background: #0D28A6;
}

header .padding-nav {
    padding: 1.5rem 0px;
}

header .navbar-nav .nav-item:not(:last-child) .nav-link {
    margin-right: 32px;
    color: black;
}

header nav {
    background-color: #f1f3ff;
}

header .navbar-nav .nav-item:last-child .nav-link {
    background-color: #5CB85F;
    border-radius: 2px;
    color: white;
    padding: 8px 12px;
    font-weight: 700;
}

header .hero {
    margin-top: 9px;
}

header .hero p {
    width: 85%;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

header .hero h1 {
    width: 110%;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
}

header .hero .btn-hero {
    padding: 8px 12px;
    border-radius: 2px;
    background-color: #5CB85F;
    border: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}

.container-row-services {
    width: 100%;
    height: 428px;
    margin-top: 100px;
}

.container-row-services .our-services ul li {
    display: flex;
    padding-right: 10px;
}

.container-row-services .our-services ul li div p {
    padding: 3px 7px;
}

.container-row-services .our-services div h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}

.container-row-services .our-services div p {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;  
}

.our-services {
    align-items: center;
}

.container-why-us {
    margin-top: 100px;
}

.why-us-header {
    margin-bottom: 16px;
}

.why-us-header p {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 40px;
}

.why-us-card h3 {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.why-us-card {
    height: 196px;
    width: 100%;
    margin: none;
}

.why-us-card p {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.why-us-card-point {
    padding: none;
    
    width: 255px !important;
    height: 196px;

    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    border-radius: 8px;
}

.why-us-card-point:nth-child(1) {
    margin-left: 15px;
}

.why-us-card-point:nth-child(2) , .why-us-card-point:nth-child(3), .why-us-card-point:nth-child(4) {
    margin-left: 25px;
}
 
.why-us-card-point img , .why-us-card-point h3 {
    padding-bottom: 16px;
}

.container-testimoni {
    margin-top: 100px;
}

.container-testi-card {
    display: flex;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    height: 270px;
    margin: auto;
}

.testimoni-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimoni-header h2{
    margin-bottom: 16px;
}

.testimoni-header p {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 40px;
}

.testi-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 619px;
    height: 270px;
    background: #F1F3FF;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin-left: 16px;
    margin-right: 16px;
}

.testi-card-point {
    display: flex;
    align-items: center;
    justify-content: center;
}

.testi-card-point-img {
    margin-left: 40px;
}

.testi-card-point-text {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 40px;
}

.testi-card p {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.testi-card h4 {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}

.button-carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px auto;
    width: 88px;
    height: 32px;
}

.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 326px;
    background: #0D28A6;
    border-radius: 13px;
    margin-top: 100px;
}

.cta h1 {
    width: 613px;
    height: 54px;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 100px;
}

.cta p {
    width: 468px;
    height: 40px;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 16px;
}

.btn-cta {
    padding: 8px 12px;
    border-radius: 2px;
    background-color: #5CB85F;
    border: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    margin-top: 40px;
    margin-bottom: 80px;
}

.faq-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 344px;
    margin-top: 100px;
}

.faq-header h2 {
    height: 36px;
    margin-bottom: 16px;
}

.faq-list .list-group li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 668px;
    height: 56px;

    background: #FFFFFF;
    border: 1px solid #D4D4D4;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 16px;
}

.faq-list .list-group li p {
    padding-top: 16px;
    padding-left: 24px;
}

.faq-list .list-group li a {
    padding-top: 25px;
    padding-right: 30px;
}

.footer-container {
    width: 100%;
    height: 128px;
    margin-top: 150px;
    margin-bottom: 100px;
}

.footer .logo {
    width: 100px;
    height: 34px;
    background: #0D28A6;
}

.footer-point-nav a {
    color: black;
}

.footer-point-socmed div a {
    margin-right: 10px;
}

.footer-point-nav div {
    margin-bottom: 16px;
}